<%- include("partials/header.ejs") %>
<div class="about">
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p id="aboutpara">
  At Journey Unlimited, we specialize in crafting unforgettable adventure experiences tailored to your desires.
   Whether you're seeking exhilarating tours, expert guides, cozy hotels, or convenient flight tickets, we’ve got you covered. 
   Our mission is to transform your travel dreams into reality by offering a seamless blend of adventure and comfort. With a dedicated 
   team of travel experts and a vast network of trusted partners, Journey Unlimited ensures that every journey you embark on is unique, exciting, 
   and hassle-free. Explore the world with confidence, knowing that your every need 
  is meticulously taken care of. Discover, experience, and enjoy with Journey Unlimited — where your adventure begins.</p>
</div>
  <%- include("partials/footer.ejs") %>