<%- include("partials/header.ejs") %>

  <!-- page-1 -->

  <div class="hero">
    <video autoplay muted loop id="background-video">
      <source src="images/mountain.mp4" type="video/mp4">
    </video>
    <div class="overlay">
      <div class="content1">
        <!-- <div class="logo">
              <img src="https://via.placeholder.com/30" alt="Logo">
              <span>Roseton Travel & Tours</span>
          </div> -->
        <h1>Time for your <br><span>next adventure</span></h1>
        <p>Let us plan it for you</p>
        <button>BOOK NOW</button>
      </div>
    </div>
  </div>


  <!-- page-2 -->

  <div class="page2container">
    <div class="content2">
      <div class="icon">
        <img src="images/location.png" alt="Location Icon">
      </div>
      <h1>Travel made easy</h1>
      <p>
        Travel Made Easy is your ultimate destination for
        all things travel. Whether you're planning a weekend getaway,
        a family vacation, or a solo adventure, our website offers a
        wide range of services to make your travel experience seamless
        and enjoyable. From booking flights and hotels to arranging guided
        tours and providing travel tips, we cover every aspect of your journey. Our user-friendly platform ensures you
        can effortlessly explore new destinations, discover hidden gems, and create unforgettable memories. With
        exclusive deals and personalized recommendations, Travel Made Easy is
        dedicated to making your travel dreams a reality.
      </p>
      <div class="buttons">
        <button>Latest Promos</button>
        <button>Our Offerings</button>
      </div>
    </div>
    <div class="image">
      <img src="images/travelling-image.jpg" alt="Travel Image">
    </div>
  </div>


  <!-- page-3 -->

  <div class="promo-section">
    <div class="heading-sec">
      <h1>Summer Deals Promo</h1>
    </div>
    <div>
      <div class="package-container">
        <div class="package nature-escape">
          <img src="images/natural-place.jpg" alt="Nature Escape">
          <h2>Nature Escape</h2>
          <p>Starts at ₹9999</p>
          <ul id="service-items">
            <li>Round trip airfare</li>
            <li>4D/3N Twin share room</li>
            <li>Half board meals</li>
            <li>Guided nature tour</li>
            <li>Welcome drink</li>
          </ul>
          <button>BOOK NOW</button>
        </div>
        <div class="package romantic-getaway">
          <img src="images/couple-img.jpg" alt="Romantic Getaway">
          <h2>Romantic Getaway</h2>
          <p>Starts at ₹1500</p>
          <ul>
            <li>Round trip airfare</li>
            <li>4D/3N Twin share room</li>
            <li>Full board meals</li>
            <li>Spa & massage session</li>
            <li>Couples meditation</li>
          </ul>
          <button>BOOK NOW</button>
        </div>
        <div class="package family-vacation">
          <img src="images/family-vocation.jpg" alt="Family Vacation">
          <h2>Family Vacation</h2>
          <p>Starts at ₹3000</p>
          <ul>
            <li>Round trip airfare</li>
            <li>4D/3N Family suite</li>
            <li>Full board meals</li>
            <li>Guided nature tour</li>
            <li>Choice group activity</li>
          </ul>
          <button>BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>


  <!-- page-4 -->

  <div class="trip-container">
    <div class="trip-heading">
      <h1>We'll handle your trip for you</h1>
    </div>
    <div class="trip-inner-div">
      <div class="tours">
        <img src="images/flight.jpg" alt="flight">
        <h2>Flight Booking</h2>
        <p>Find and book the perfect flight with ease. Compare airlines, prices, and schedules.
          Enjoy a seamless booking experience and manage your trip effortlessly.
        </p>
      </div>
      <div class="tours">
        <img src="images/hotel.jpg" alt="">
        <h2>Hotel Bookings</h2>
        <p>
          Find your perfect stay with ease. Search from thousands of hotels,
          compare prices, and book instantly. Enjoy comfortable accommodations and great amenities.
        </p>
      </div>
      <div class="tours">
        <img src="images/toor-activities.jpg" alt="">
        <h2>Tours & Activities</h2>
        <p>
          Explore the world with our exciting tours and activities. Discover hidden gems, book unforgettable
          experiences, and create lasting memories.
          From city tours to adventure sports, we have it all.
        </p>
      </div>
      <div class="tours">
        <img src="images/toor-guid.jpg" alt="">
        <h2>Tours Guide</h2>
        <p>
          Discover the world with expert guidance. Explore iconic landmarks and hidden gems with knowledgeable local
          guides. Enjoy personalized tours tailored to your interests.
          Book your guide today and elevate your travel experience.
        </p>
      </div>
    </div>
  </div>


  <!-- page-5 -->

  <div class="review-outer">
    <img class="back-img" src="images/background3.jpg" alt="">
    <div class="review-heading">
      <h1>Our Favorite Travelers</h1>
    </div>
    <div class="review-inner">
      <div class="review">
        <p> 
          I booked a family vacation through Journeys Unlimited! and had an amazing time! The booking process was easy, the customer support was super helpful,
           and everything was perfectly arranged when we arrived. Highly recommended!  
        </p>        
          <img src="images/man1.jpg" alt="">
          <h3>John Martin</h3>
          <h4>⭐⭐⭐⭐⭐</h4>
      </div>
      <div class="review">
        <p>
          Great experience with Journeys Unlimited! The website is user-friendly, and we loved our nature escape package.
           Only minor issue was a slight delay in our flight, but overall, it was a fantastic trip.
        </p>
        <img src="images/women1.jpg" alt="">
        <h3>Julia Patel</h3>
        <h4>⭐⭐⭐⭐⭐</h4>
      </div>
      <div class="review">
        <p>
          Absolutely loved our romantic getaway booked through Journeys Unlimited! The attention to detail 
          and personalized service made our trip unforgettable. Will definitely use their services again.
        </p>
        <img src="images/man2.jpg" alt="">
        <h3>Mahtab Alam</h3>
        <h4>⭐⭐⭐⭐⭐</h4>
      </div>
      <div class="review">
        <p>
          Excellent service from Journeys Unlimited! The guided tours were informative, and the accommodations were top-notch. 
          The team made our vacation stress-free and enjoyable. Highly recommend for anyone planning their next trip!
        </p>
        <img src="images/women2.jpeg" alt="">
        <h3>Natalia Lowe</h3>
        <h4>⭐⭐⭐⭐⭐</h4>
      </div>
    </div>
  </div>



  <%- include("partials/footer.ejs") %>